<template name="header">
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <span class="sr-only">Toggle navigation</span>
      <a class="navbar-brand" href="{{pathFor 'landingPage'}}">Focus Sessie</a>
    </div>
    <div class="collapse navbar-collapse" id="navigation">
      <ul class="nav navbar-nav">
        {{#if currentUser}}{{/if}}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {{> loginButtons}}
      </ul>
    </div>
  </nav>
</template>